apiVersion: v1
baseDomain: {{ install_config.cluster_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ master_count }}
metadata:
  creationTimestamp: null
  name: {{ install_config.cluster_id }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
sshKey: '{{ install_config.public_ssh_key }}'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIFqTCCA5ECFAjkt6CHgUA2P5KpE8jaiHNZ3tLvMA0GCSqGSIb3DQEBCwUAMIGQ
  MQswCQYDVQQGEwJGUjEQMA4GA1UECAwHSGVyYXVsdDEUMBIGA1UEBwwLTW9udHBl
  bGxpZXIxDjAMBgNVBAoMBUlCTUNDMQ4wDAYDVQQLDAVSSENPQzEkMCIGCSqGSIb3
  DQEJARYVc2RlbGFiYXJyZUBmci5pYm0uY29tMRMwEQYDVQQDDApteXJlZ2lzdHJ5
  MB4XDTIwMDgyMTA3NTE0NFoXDTIxMDgyMTA3NTE0NFowgZAxCzAJBgNVBAYTAkZS
  MRAwDgYDVQQIDAdIZXJhdWx0MRQwEgYDVQQHDAtNb250cGVsbGllcjEOMAwGA1UE
  CgwFSUJNQ0MxDjAMBgNVBAsMBVJIQ09DMSQwIgYJKoZIhvcNAQkBFhVzZGVsYWJh
  cnJlQGZyLmlibS5jb20xEzARBgNVBAMMCm15cmVnaXN0cnkwggIiMA0GCSqGSIb3
  DQEBAQUAA4ICDwAwggIKAoICAQC0m0ZMEMYFNRZ3QNscww60tg+ZbSsI95R6l8VU
  4hu/WnkuOyeMfkK1ozbe6689h5OLHJ9xNZMtcFgOHGSgLPMWUf1MQilelk55B1qj
  6h8YSLQgEGaijCm1d1L4vQh+3TgUHxnGAL5VjlAgim9FDfu8ywE6ru7FvWkshZ+x
  NCtAL+6YKe+JskbakquZrJBnuUC5neIorPrvlx9MvahR31AVpj3wPtfORUiBJrN8
  yv5deov7j7zkeP28CCOtB5hET5jaaVelAEMy6RPWVdGCxwQGELxthZM6mxEjO1a1
  Hqu5ZIliMP8tBWxPY5/mu5AwwIGhn1AJcOaPPWk7ItYp4m+0bsDIeskwu7goI856
  F+pUAj17N/H63XTWi6V4PO6gk3Y+7ZhRYNswwVgDnJOf/Y+vT6I0QGfVSOM27pSZ
  3II+wA385Sw0iSrBJs/7tyEP/a4eosyhE0UQQ4t4kcTPWQ52pRIH8eDlaOFCQYMO
  HNhfoHdA2IagEPh7bxrkaiV+m9ZxW7vQBKq+B6XjpNQXsKNHaPCt0w6Wy1nFfs4f
  Cr1vxlu1xNXD4oPuRN/cDyHg/Y/mIsyk+r7263vbWTQU+TQjwRP9qwi6Dy3HliDD
  LhPSfyTqJU8C6e7sya4JNeHrYOd3R4Pe2SjhbfO5gpkviu7HHSpSQhQCHC2YrAlB
  pub3YQIDAQABMA0GCSqGSIb3DQEBCwUAA4ICAQA8HPjTkpoppYIF5laI4zUzNH5s
  uJlRqWZfB9sB367G5FRJivJuJMzUYH5dXUNsAX8GLtQxnVFhVOpkvt+wSejCs7LM
  Txwm91xbCbizb3ZTw9QHDEQjF0IlkFGPPHyc1C8edfWv0LwtlUmKkW0MTaicTI6i
  XOjTUIuQGBpyNqoGN7PinH4r4GsgC3G9oyT1TSaZc/pdcx6Jpd3EzCvM6lIX9ziV
  UxtgLSm3eWqAWOd2Vypp5A8wR9MGXakM85ttaLl7Jv/n0BJpk3XdIxd53UEpVX0L
  sFtVZmUNKLauRD8+THpYcmkkGDpnKWDLp0tmClUivec0qsNxf5FJl7j7rHlr1Rwo
  iZ+MsgC/No7/pARWZxvrFbj+pdf1WUBmu0F8cZHp60dxcZu7HSi3j0hSpckszwaA
  oX0pfORv47NNd+whulJ8v7a9fqLKFBuMldJXeWjLondFohZhWOW/DBe87mrEY6I7
  Klocj+tfYWAzmLHVi03qQSbtpFjFhvFcqfG+bUh6b733kAc26mRBpTa3JucrEVMj
  Rpf3cDkXiPH++pu/kawgtgS1EmIxEBpZwsUxMv9TJSQ4ZLgw4UGFi+p4SJX8ac+5
  PExQvm5ORC5nZT+Z7Jj9sVH4y8KnshbOfGZ95R9KjC7eJjTtyGnBFegwE7A+QrjB
  eRQo33XQOl2n119k6g==
  -----END CERTIFICATE-----
{% if enable_local_registry %}
pullSecret: '{{ lookup('file', '~/.openshift/pull-secret-updated') }}'
additionalTrustBundle: |
{{ lookup('file', '/opt/registry/certs/domain.crt') | indent(2, first=True) }}
imageContentSources:
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% else %}
pullSecret: '{{ install_config.pull_secret }}'
{% endif %}
{% if setup_squid_proxy or proxy_url != "" %}
proxy:
  httpProxy: {{ squid_proxy_url | default(proxy_url) }}
  httpsProxy: {{ squid_proxy_url | default(proxy_url) }}
  noProxy: .{{ install_config.cluster_id }}.{{ install_config.cluster_domain }},{{ no_proxy }}
{% endif %}
imageContentSources:
- mirrors:
  - myregistry:5000/ocp/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - myregistry:5000/ocp/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - myregistry:5000/ibmcom/nfs-client-provisioner-ppc64le
  source: docker.io/ibmcom/nfs-client-provisioner-ppc64le
