apiVersion: v1
baseDomain: {{ install_config.cluster_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ master_count }}
metadata:
  creationTimestamp: null
  name: {{ install_config.cluster_id }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
sshKey: '{{ install_config.public_ssh_key }}'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIFpTCCA40CFDTNpHRN3ZRcGXp/7ziClnv3SN86MA0GCSqGSIb3DQEBCwUAMIGO
  MQswCQYDVQQGEwJGUjEQMA4GA1UECAwHSGVyYXVsdDEUMBIGA1UEBwwLTW9udHBl
  bGxpZXIxDjAMBgNVBAoMBUlCTUNDMQ4wDAYDVQQLDAVSSENPQzEkMCIGCSqGSIb3
  DQEJARYVc2RlbGFiYXJyZUBmci5pYm0uY29tMREwDwYDVQQDDAhyZWdpc3RyeTAe
  Fw0yMDA4MTcxNDA1MTNaFw0yMTA4MTcxNDA1MTNaMIGOMQswCQYDVQQGEwJGUjEQ
  MA4GA1UECAwHSGVyYXVsdDEUMBIGA1UEBwwLTW9udHBlbGxpZXIxDjAMBgNVBAoM
  BUlCTUNDMQ4wDAYDVQQLDAVSSENPQzEkMCIGCSqGSIb3DQEJARYVc2RlbGFiYXJy
  ZUBmci5pYm0uY29tMREwDwYDVQQDDAhyZWdpc3RyeTCCAiIwDQYJKoZIhvcNAQEB
  BQADggIPADCCAgoCggIBANwibWbvB6KH79BbwSnKapp3AzhKrl7RjrkhfOYKR3/F
  yoF3v4gLwf1zkMGgDxNfsmfwHQzsONE9tQkNNHzeZugGglAPJiNo/HvzTHGoWwSq
  Wsk9/nlrzbd0OSCckKh62dNxs96Xw+MBCaMxLmbHL2y4mUp42vlRdsFau8KtBiuP
  T3wfPF2g0p7CyAsrIF4pV8txumulmSCLMzKciEKeUJ+ZC6FE4FM/RLMel8EYRYIJ
  dv5XVLi2pzBonpTHYHs8uJ7jjHwBBqx2QMByi2SnziX2rzvmU8LWBKwjme1qMmKx
  d9nCHZZY4pWya0LFdOpwm/4blw5mDzJ6hfCMJabdcLw8+Ppks2mPg5xSaoYdgAog
  xCqMui5vt0w3v4+NGzBG5yITfPzocUdiBmefucxtIpuFsXJuIo/6/82WRsdcfvxH
  Kllb089BcsOw297LhU4h8xaOQ0AZ2XrSvZVNOjVlYlx4BdqWG0FRA2kYXarHxLMO
  ga9q6JTb6gMopoYtVle5M8sPfUVAw6bQYjiOILANMj+fgqlscuZuuJeNiDvCdCn1
  nH182USHe59KECrVGoq1Y8L87SFMaNN9HVUMGDlvob9e6INiu3RXP7cZbEwQE1vF
  bhysv9yAmHnDBIMzZNEw6cF3iMcVjbEbt3M5Fer3ZRBYcbjpWDoJD6xB17vZ9fEH
  AgMBAAEwDQYJKoZIhvcNAQELBQADggIBAC0td6iYYhdkgYNgw3V9d9hUH248Dj4t
  oKK21trt65x2Q33Usru09HRNc8hOEkQyewUFeHpfsr/5p4LAhZcvmKqR41vHGl46
  PJKqENaBu8KyU46WmXHzJ7B18RQA7ucMVGKUgcYkDCHS3MyAwRPvb4pjKFgxgNEN
  HvVFhEbUm2rtNPssq4nUE3FXr5YNH3a4cETDbPbJdSiwn9dldza/Slv9K2JOjSGw
  Lg3a8gymryJe3ZiHFfH4t7L+QMUds5N6xL5tcPVqltg401sCO0WvCmCdbkVCXFsX
  o/chTL9BdAUMrwZ9pspRvY1PzLG65TDvZ65ovPOOtoFpMf7gU23cHIR2SDjDJF3I
  5279UoPRqptG9z0w5uVNZG6XS7n8swW5GKPU+1Fexu/UcZsKnL7COFZoy2UQjcv4
  ail/JwkgvhU4/Zu1/YCqcuzSgiuyUfGMdw5C6/Uo/MrT4IdoE7sftexsRXVfAjBs
  xjD8N10sPosA68Cy6snvAYfEwGF2hlY0zv2pOoUZhsQ92pGKCw003J6e8yW0W7RA
  4wWl72i4U89JNS8OrPPZ9nAFKqqBCF8xbRVzDRC/7bn0iKa/e9a/GXugqvqRwSAC
  j3PCteOW/p2Ebwo9HQGVjZF3Sp6bB3EwlnufMHC9Ky+puZRHZ09Jr7d3UDXxUOSW
  MtgMEB1fFZZY
  -----END CERTIFICATE-----
{% if enable_local_registry %}
pullSecret: '{{ lookup('file', '~/.openshift/pull-secret-updated') }}'
additionalTrustBundle: |
{{ lookup('file', '/opt/registry/certs/domain.crt') | indent(2, first=True) }}
imageContentSources:
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.{{ install_config.cluster_id }}.{{ install_config.cluster_domain }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% else %}
pullSecret: '{{ install_config.pull_secret }}'
{% endif %}
{% if setup_squid_proxy or proxy_url != "" %}
proxy:
  httpProxy: {{ squid_proxy_url | default(proxy_url) }}
  httpsProxy: {{ squid_proxy_url | default(proxy_url) }}
  noProxy: .{{ install_config.cluster_id }}.{{ install_config.cluster_domain }},{{ no_proxy }}
{% endif %}
